* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  height: 35px;
  padding-top: 8px;
  font-size: 28px;
  margin: 28px;
}

.slide {
  display: flex;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0 20px 30px black;
  width: 50vw;
  height: 50vh;
  margin: 20vh auto;
  border-radius: 8px;
  
}

.container-items {
  position: absolute;
  display: flex;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  overflow: hidden;
}

.item {
  width: 50vw;
  height: 50vh;
  transition: all 2s;
}

.item img {
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
}

.item:first-child{
  margin-left: -100%;
}

.action-button {
  font: bold 30px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: #00000000;
  user-select: none;
  z-index: 1;
}

.action-button:hover {
  color: white;
  background-color: #00000055;
  border-radius: 6px;
  cursor: pointer;
  transition: all 1s;
}

footer > p > a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  background-color: gray transparent;
  color: gray;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 100vw;
  padding: 4px 8px;
}